.container {
  padding: 2rem 2rem;
  // width: 90vw;
}

.main {
  // min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .lightBox {
    box-shadow: 0 0 2px var(--selected-color);
    border-color: var(--selected-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  h1 {
    margin-left: 25px;
    margin-right: 25px;
    color: var(--selected-color);
    text-shadow: 0 0 3px var(--selected-color);
  }

  p {
    width: 600px;
    color: var(--primary-text-color);

    a {
      color: var(--selected-color);
      &:hover {
        text-shadow: 0 0 3px var(--selected-color);
      }
    }
  }
}

.CodeBlock {
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0 var(--shadow-color);

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--selected-color);
    text-shadow: 0 0 3px var(--selected-color);
  }
}
