.container {
  padding: 2rem 2rem;
  display: flex;
  align-items: flex-start;
  height: calc(100vh - 10em);
  max-height: calc(100vh - 10em);
  overflow-y: auto;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .row {
    display: flex;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .lightBox {
    box-shadow: 0 0 2px var(--selected-color);
    border-color: var(--selected-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  h1,
  h2 {
    margin-left: 25px;
    margin-right: 25px;
    color: var(--selected-color);
    text-shadow: 0 0 3px var(--selected-color);
  }
  h3 {
    margin-left: 25px;
    margin-right: 25px;
    color: var(--primary-text-color);
    a {
      color: var(--selected-color);
      text-shadow: 0 0 2px var(--selected-color);
      &:hover {
        text-shadow: 0 0 4px var(--selected-color);
      }
    }
  }

  li::marker {
    content: "◄ ";
    filter: drop-shadow(0 0 2px var(--selected-color));
    text-shadow: 0 0 2px var(--selected-color);
  }

  li {
    color: var(--selected-color);
    border: none;
    margin-left: 25px;
    margin-right: 25px;
    p {
      width: 600px;
      color: var(--primary-text-color);
      text-shadow: none;
      filter: drop-shadow(0 0 0 var(--primary-text-color));

      b {
        color: var(--selected-color);
        text-shadow: 0 0 1.2px var(--selected-color);
      }

      a {
        color: var(--selected-color);
        text-shadow: 0 0 2px var(--selected-color);
        &:hover {
          text-shadow: 0 0 4px var(--selected-color);
        }
      }
    }
  }
}

.CodeBlock {
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0 var(--shadow-color);

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--selected-color);
    text-shadow: 0 0 3px var(--selected-color);
    a {
      color: var(--selected-color);
      text-shadow: 0 0 2px var(--selected-color);
      &:hover {
        text-shadow: 0 0 4px var(--selected-color);
      }
    }
  }
}
