// .row {
//   display: flex;
//   flex-direction: row;
//   width: 100%;
//   height: 100%;
// }

.ChatBox {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  // max-height: 90%;

  padding: 0.5%;
  box-shadow: 4px 4px 4px 0 var(--shadow-color);

  label {
    color: var(--selected-color);
    text-shadow: 0 0 2px var(--selected-color);
  }
  div[id="displayPanel"] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    // max-height: 80%;
    div[id="messages"] {
      overflow-y: auto;
      width: 79%;
      height: 100%;
      color: var(--selected-color);
      border-color: var(--selected-color);
      background-color: var(--background-primary-color);
      border-style: solid;
      border-width: 2px;
      border-radius: 5px;
    }
    &.noAdm {
      div[id="messages"] {
        width: 100%;
      }
    }
    div[id="users"] {
      overflow-y: auto;
      width: 20.5%;
      height: 100%;
      margin-left: 0.5%;
      color: var(--selected-color);
      border-color: var(--selected-color);
      background-color: var(--background-primary-color);
      border-style: solid;
      border-width: 2px;
      border-radius: 5px;
    }
  }
  div[id="inputPanel"] {
    display: flex;
    flex-direction: row;
    position: relative;
    // position: absolute;
    height: 20%;
    // bottom: 0;

    textarea {
      width: 100%;
      height: 130px;
      color: var(--primary-text-color);
      background-color: var(--primary-color);
      margin-top: 10px;
      margin-bottom: 10px;
      border-color: var(--primary-color);
      border-style: solid;
      border-width: 2px;
      border-radius: 5px;
      transition: color 0.5s ease;
      resize: none;
    }
    textarea:focus {
      color: var(--selected-color);
      border-color: var(--selected-color);
      box-shadow: 0 0 2px var(--selected-color);
      background-color: var(--background-primary-color);
      border-style: solid;
      border-width: 2px;
      border-radius: 5px;
      transition: color 0.5s ease;
      transition: background-color 0.5s ease;
      -webkit-transition: background-color 0.5s ease;
      z-index: 1;
    }
  }
  &.success {
    label {
      color: var(--success-color);
      text-shadow: 0 0 4px var(--success-color);
    }
    .buttons > input,
    textarea:focus {
      color: var(--success-color);
      border-color: var(--success-color);
      box-shadow: 0 0 4px var(--success-color);
    }
  }
  &.warn {
    label {
      color: var(--warn-color);
      text-shadow: 0 0 4px var(--warn-color);
    }
    .buttons > input,
    textarea {
      color: var(--warn-color);
      border-color: var(--warn-color);
      box-shadow: 0 0 4px var(--warn-color);
      border-style: solid;
      border-width: 2px;
      border-radius: 5px;
    }
    .buttons > input[type="submit"] {
      &:hover {
        color: var(--warn-color);
        text-shadow: 0 0 2px var(--warn-color);
      }
    }
  }
  &.error {
    label {
      color: var(--error-color);
      text-shadow: 0 0 4px var(--error-color);
    }
    .buttons > input,
    textarea:focus {
      color: var(--error-color);
      border-color: var(--error-color);
      box-shadow: 0 0 4px var(--error-color);
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    > input {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--primary-text-color);
      background-color: var(--background-primary-color);
      border-radius: 4px;
      height: 40%;
      width: 100px;
      margin: 10px 0px 0px 10px;
      opacity: 1;
      box-shadow: 2px 2px 2px 0 var(--shadow-color);
      outline-style: outset;
      outline-color: var(--outline-color);
      outline-width: 2px;
      border: none;
      svg {
        margin-left: 10px;
      }
      span,
      svg {
        transition: color 0.5s ease;
        margin-right: 10px;
      }
      &:hover {
        svg {
          transform: scale(1.2);
        }
      }
      &:active {
        svg {
          transform: scale(1.5);
        }
        outline-style: inset;
        box-shadow: none;
      }
      &.buttonEnable {
        svg,
        span {
          transition: color 1s ease;
          filter: drop-shadow(0 0 2px var(--selected-color));
          color: var(--selected-color);
        }
      }
    }
    input[type="submit"] {
      &:hover {
        transition: color 0.2s ease;
        color: var(--selected-color);
        text-shadow: 0 0 2px var(--selected-color);
        transition: color text-shadow 0.5s ease;
      }
    }
    input[type="button"] {
      &:hover {
        transition: color 0.2s ease;
        color: var(--warn-color);
        text-shadow: 0 0 2px var(--warn-color);
        transition: color text-shadow 0.5s ease;
      }
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover {
    border: none;
    -webkit-text-fill-color: var(--primary-text-color);
    box-shadow: 0 0 0px 1000px var(--primary-color) inset;
    -webkit-box-shadow: 0 0 0px 1000px var(--primary-color) inset;
    transition: color 0.5s ease;
  }
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill:focus {
    color: var(--selected-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--selected-color);
    box-shadow: 0 0 2px var(--selected-color);
    border-radius: 5px;

    -webkit-text-fill-color: var(--selected-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-primary-color) inset;
    transition: box-shadow 0.5s ease;
    -webkit-transition: box-shadow, border-color 0.5s ease;
    // transition: border 0.5s ease;
  }
}
