.row {
  display: flex;
  flex-direction: row;
}
.spaceBetween {
  justify-content: space-between;
  width: 100%;
}
.Space {
  width: 25%;
}
.UserBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-dark-1-color);
  transition: background-color 0.1s ease;
  -webkit-transition: background-color 0.1s ease;
  -ms-transition: background-color 0.1s ease;
  -moz-transition: background-color 0.1s ease;
  -o-transition: background-color 0.1s ease;
  margin: 1% 1% 0% 1%;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  &:hover {
    background-color: var(--selected-color);
    h1,
    h2 {
      color: var(--primary-dark-1-color);
    }
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      div[id="avatar"] {
        display: flex;
        position: relative;
        justify-content: center;
        margin: 3px 0 3px 0;
        width: 40px;
        img {
          border-radius: 10%;
        }
        div[id="badge"] {
          display: flex;
          position: absolute;
          top: 0;
          right: 0;
          justify-content: center;
          align-items: center;
          height: 9px;
          width: 9px;
          padding: 5px;
          border-radius: 100%;
          background-color: var(--error-color);
          box-shadow: 0 0 10px var(--error-color);
          z-index: 1000;
          span {
            color: var(--white-color);
            text-shadow: 0 0 10px var(--white-color);
          }
        }
      }
      svg {
        color: var(--selected-color);
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 3px 3px 3px;
        h1,
        h2 {
          margin: 3px 0 0 0;
          transition: color 1s ease;
        }
      }
    }
  }
  &.selected {
    button {
      cursor: default;
    }
    &:hover {
      background-color: var(--primary-dark-1-color);
      h1,
      h2 {
        color: var(--success-color);
      }
    }
  }
  &.success {
    color: var(--success-color);
    border-color: var(--success-color);
    h1,
    h2 {
      color: var(--success-color);
      text-shadow: 0 0 2px var(--success-color);
    }
    button {
      svg {
        color: var(--success-color);
      }
    }
  }
  &.warn {
    color: var(--warn-color);
    border-color: var(--warn-color);
    h1,
    h2 {
      color: var(--warn-color);
      text-shadow: 0 0 2px var(--warn-color);
    }
    button {
      svg {
        color: var(--warn-color);
      }
    }
  }
  &.error {
    color: var(--error-color);
    border-color: var(--error-color);
    h1,
    h2 {
      color: var(--error-color);
      text-shadow: 0 0 2px var(--error-color);
    }
    button {
      svg {
        color: var(--error-color);
      }
    }
  }
}
